################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PropertyPortal/config/applicationhost.config
/Web.Release.config
/Web.Debug.config
/Web.config
