################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PropertyPortal/config/applicationhost.config
/Web.Release.config
/Web.Debug.config
/Web.config
/packages.config
bin/
obj/
/PropertyPortal.csproj
/PropertyPortal.csproj.user
/script.sql
config/
packages/
Properties/
/PropertyPortal.sln
/.vs/PropertyPortal/FileContentIndex
