USE [master]
GO
/****** Object:  Database [dbPropertyPortal]    Script Date: 9/9/2023 7:35:04 PM ******/
CREATE DATABASE [dbPropertyPortal] ON  PRIMARY 
( NAME = N'dbPropertyPortal', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\dbPropertyPortal.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbPropertyPortal_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\dbPropertyPortal_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbPropertyPortal].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbPropertyPortal]
GO
/****** Object:  Table [dbo].[tblCity]    Script Date: 9/9/2023 7:35:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCity](
	[pkCityID] [int] IDENTITY(1,1) NOT NULL,
	[fkDistrictID] [int] NOT NULL,
	[cityName] [varchar](50) NOT NULL,
	[isActive] [bit] NOT NULL,
	[createdBy] [int] NULL,
	[createdOn] [datetime] NOT NULL,
 CONSTRAINT [PK_tblCity] PRIMARY KEY CLUSTERED 
(
	[pkCityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDistrict]    Script Date: 9/9/2023 7:35:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDistrict](
	[pkDistrictID] [int] IDENTITY(1,1) NOT NULL,
	[fkStateID] [int] NOT NULL,
	[districtName] [varchar](50) NOT NULL,
	[isActive] [bit] NOT NULL,
	[createdBy] [int] NULL,
	[createdOn] [datetime] NOT NULL,
 CONSTRAINT [PK_tblDistrict] PRIMARY KEY CLUSTERED 
(
	[pkDistrictID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblFacility]    Script Date: 9/9/2023 7:35:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFacility](
	[pkFacilityID] [int] IDENTITY(1,1) NOT NULL,
	[facilityName] [varchar](30) NOT NULL,
	[isActive] [bit] NOT NULL,
	[createdBy] [int] NULL,
	[createdOn] [datetime] NOT NULL,
 CONSTRAINT [PK_tblFacilitys] PRIMARY KEY CLUSTERED 
(
	[pkFacilityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblFeature]    Script Date: 9/9/2023 7:35:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFeature](
	[pkFeatureID] [int] IDENTITY(1,1) NOT NULL,
	[featureName] [varchar](30) NOT NULL,
	[isActive] [bit] NOT NULL,
	[createdBy] [int] NULL,
	[createdOn] [datetime] NOT NULL,
 CONSTRAINT [PK_tblFeatures] PRIMARY KEY CLUSTERED 
(
	[pkFeatureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblLogin]    Script Date: 9/9/2023 7:35:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLogin](
	[pkLoginID] [int] IDENTITY(1,1) NOT NULL,
	[loginUsername] [varchar](100) NOT NULL,
	[loginPassword] [varchar](500) NOT NULL,
	[loginSalt] [varchar](500) NOT NULL,
	[loginRole] [int] NOT NULL,
	[isActive] [bit] NOT NULL,
	[isVerified] [bit] NOT NULL,
	[createdOn] [datetime] NOT NULL,
 CONSTRAINT [PK_tblLogin] PRIMARY KEY CLUSTERED 
(
	[pkLoginID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblProperty]    Script Date: 9/9/2023 7:35:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProperty](
	[pkPropertyID] [int] IDENTITY(1,1) NOT NULL,
	[fkStateID] [int] NOT NULL,
	[fkDistrictID] [int] NOT NULL,
	[fkCityID] [int] NOT NULL,
	[fkPropertyCategoryID] [int] NOT NULL,
	[fkPropertyTypeID] [int] NOT NULL,
	[fkRentTypeID] [int] NOT NULL,
	[fkOwnerUserID] [int] NOT NULL,
	[propertyTitle] [varchar](300) NOT NULL,
	[propertyShortTitle] [varchar](200) NOT NULL,
	[propertyLink] [varchar](100) NOT NULL,
	[propertyShortDescription] [varchar](500) NOT NULL,
	[propertyLongDescription] [varchar](max) NOT NULL,
	[propertyLatitude] [varchar](10) NOT NULL,
	[propertyLongitude] [varchar](10) NOT NULL,
	[propertyAddress] [varchar](200) NOT NULL,
	[propertyTotalFloor] [int] NOT NULL,
	[propertyTotalBedroom] [int] NOT NULL,
	[propertyTotalBathroom] [int] NOT NULL,
	[propertyArea] [varchar](10) NOT NULL,
	[propertyPrice] [decimal](18, 2) NOT NULL,
	[propertyYoutubeLink] [varchar](300) NOT NULL,
	[propertySEOTitle] [varchar](300) NOT NULL,
	[propertySEODescription] [varchar](1000) NOT NULL,
	[isFeatured] [bit] NOT NULL,
	[isActive] [bit] NOT NULL,
	[isVerified] [bit] NOT NULL,
	[createdBy] [int] NOT NULL,
	[createdOn] [datetime] NOT NULL,
	[modifiedBy] [int] NOT NULL,
	[modifiedOn] [datetime] NOT NULL,
	[verifiedBy] [int] NOT NULL,
	[verifiedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_tblProperty] PRIMARY KEY CLUSTERED 
(
	[pkPropertyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPropertyCategory]    Script Date: 9/9/2023 7:35:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPropertyCategory](
	[pkPropertyCategoryID] [int] IDENTITY(1,1) NOT NULL,
	[propertyCategoryName] [varchar](30) NOT NULL,
	[isActive] [bit] NOT NULL,
	[createdBy] [int] NULL,
	[createdOn] [datetime] NOT NULL,
 CONSTRAINT [PK_tblPropertyCategory] PRIMARY KEY CLUSTERED 
(
	[pkPropertyCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPropertyFacility]    Script Date: 9/9/2023 7:35:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPropertyFacility](
	[pkPropertyFacilityID] [int] IDENTITY(1,1) NOT NULL,
	[fkPropertyID] [int] NOT NULL,
	[fkFacilityID] [int] NOT NULL,
	[propertyFacilityDistance] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_tblPropertyFacility] PRIMARY KEY CLUSTERED 
(
	[pkPropertyFacilityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPropertyFeature]    Script Date: 9/9/2023 7:35:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPropertyFeature](
	[pkPropertyFeatureID] [int] IDENTITY(1,1) NOT NULL,
	[fkPropertyID] [int] NOT NULL,
	[fkFeatureID] [int] NOT NULL,
 CONSTRAINT [PK_tblPropertyFeature] PRIMARY KEY CLUSTERED 
(
	[pkPropertyFeatureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPropertyImage]    Script Date: 9/9/2023 7:35:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPropertyImage](
	[pkPropertyImage] [int] IDENTITY(1,1) NOT NULL,
	[fkPropertyID] [int] NOT NULL,
	[propertyImage] [varbinary](max) NOT NULL,
	[isFeaturedImage] [bit] NOT NULL,
	[isBannerImage] [bit] NOT NULL,
 CONSTRAINT [PK_tblPropertyImage] PRIMARY KEY CLUSTERED 
(
	[pkPropertyImage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPropertyType]    Script Date: 9/9/2023 7:35:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPropertyType](
	[pkPropertyTypeID] [int] IDENTITY(1,1) NOT NULL,
	[propertyTypeName] [varchar](30) NOT NULL,
	[isActive] [bit] NOT NULL,
	[createdBy] [int] NULL,
	[createdOn] [datetime] NOT NULL,
 CONSTRAINT [PK_tblPropertyType] PRIMARY KEY CLUSTERED 
(
	[pkPropertyTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblRentType]    Script Date: 9/9/2023 7:35:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRentType](
	[pkRentTypeID] [int] IDENTITY(1,1) NOT NULL,
	[rentTypeName] [varchar](20) NOT NULL,
	[isActive] [bit] NOT NULL,
	[createdBy] [int] NOT NULL,
	[createdOn] [datetime] NOT NULL,
 CONSTRAINT [PK_tblRentType] PRIMARY KEY CLUSTERED 
(
	[pkRentTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblState]    Script Date: 9/9/2023 7:35:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblState](
	[pkStateID] [int] IDENTITY(1,1) NOT NULL,
	[stateName] [varchar](30) NOT NULL,
	[isActive] [bit] NOT NULL,
	[createdBy] [int] NOT NULL,
	[createdOn] [datetime] NOT NULL,
 CONSTRAINT [PK_tblState] PRIMARY KEY CLUSTERED 
(
	[pkStateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 9/9/2023 7:35:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUser](
	[pkUserID] [int] IDENTITY(1,1) NOT NULL,
	[fkLoginID] [int] NOT NULL,
	[userFirstName] [varchar](50) NOT NULL,
	[userMiddleName] [varchar](50) NOT NULL,
	[userLastName] [varchar](50) NOT NULL,
	[userEmailAddress] [varchar](300) NOT NULL,
	[userMobileNo] [varchar](20) NOT NULL,
	[userCompanyName] [varchar](100) NOT NULL,
	[userCompanyAddress] [varchar](500) NOT NULL,
 CONSTRAINT [PK_tblUser] PRIMARY KEY CLUSTERED 
(
	[pkUserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblCity] ON 

INSERT [dbo].[tblCity] ([pkCityID], [fkDistrictID], [cityName], [isActive], [createdBy], [createdOn]) VALUES (1, 1, N'Akole', 1, 0, CAST(N'2023-05-26T00:18:46.390' AS DateTime))
INSERT [dbo].[tblCity] ([pkCityID], [fkDistrictID], [cityName], [isActive], [createdBy], [createdOn]) VALUES (2, 1, N'Ankleshwar', 1, 1, CAST(N'2023-08-31T23:26:08.640' AS DateTime))
SET IDENTITY_INSERT [dbo].[tblCity] OFF
GO
SET IDENTITY_INSERT [dbo].[tblDistrict] ON 

INSERT [dbo].[tblDistrict] ([pkDistrictID], [fkStateID], [districtName], [isActive], [createdBy], [createdOn]) VALUES (1, 1, N'Akola', 1, 0, CAST(N'2023-05-26T00:17:50.280' AS DateTime))
INSERT [dbo].[tblDistrict] ([pkDistrictID], [fkStateID], [districtName], [isActive], [createdBy], [createdOn]) VALUES (2, 1, N'Akole', 1, 0, CAST(N'2023-05-26T00:18:02.863' AS DateTime))
INSERT [dbo].[tblDistrict] ([pkDistrictID], [fkStateID], [districtName], [isActive], [createdBy], [createdOn]) VALUES (3, 1, N'Amravati', 1, 0, CAST(N'2023-05-26T00:18:11.407' AS DateTime))
SET IDENTITY_INSERT [dbo].[tblDistrict] OFF
GO
SET IDENTITY_INSERT [dbo].[tblFacility] ON 

INSERT [dbo].[tblFacility] ([pkFacilityID], [facilityName], [isActive], [createdBy], [createdOn]) VALUES (1, N'Hospital', 1, 1, CAST(N'2023-05-17T00:09:51.123' AS DateTime))
INSERT [dbo].[tblFacility] ([pkFacilityID], [facilityName], [isActive], [createdBy], [createdOn]) VALUES (2, N'Bank', 1, 1, CAST(N'2023-05-17T00:10:00.093' AS DateTime))
INSERT [dbo].[tblFacility] ([pkFacilityID], [facilityName], [isActive], [createdBy], [createdOn]) VALUES (3, N'Airport', 1, 1, CAST(N'2023-05-17T00:10:05.997' AS DateTime))
SET IDENTITY_INSERT [dbo].[tblFacility] OFF
GO
SET IDENTITY_INSERT [dbo].[tblFeature] ON 

INSERT [dbo].[tblFeature] ([pkFeatureID], [featureName], [isActive], [createdBy], [createdOn]) VALUES (1, N'Wifi', 1, 1, CAST(N'2023-05-17T00:08:40.273' AS DateTime))
INSERT [dbo].[tblFeature] ([pkFeatureID], [featureName], [isActive], [createdBy], [createdOn]) VALUES (2, N'Parking', 1, 1, CAST(N'2023-05-17T00:08:45.530' AS DateTime))
INSERT [dbo].[tblFeature] ([pkFeatureID], [featureName], [isActive], [createdBy], [createdOn]) VALUES (3, N'Garden', 1, 1, CAST(N'2023-05-17T00:08:55.093' AS DateTime))
SET IDENTITY_INSERT [dbo].[tblFeature] OFF
GO
SET IDENTITY_INSERT [dbo].[tblLogin] ON 

INSERT [dbo].[tblLogin] ([pkLoginID], [loginUsername], [loginPassword], [loginSalt], [loginRole], [isActive], [isVerified], [createdOn]) VALUES (1, N'admin@admin.com', N'Tz2IStfMwMM36RR7Lh6/PLtH2N+28OT9qpFz8N+W60Y=', N'xYdHGSTAXZEINpEBan/pmmzZvemMmgchx/RiZgu0GnY=', 1, 1, 1, CAST(N'2023-05-24T00:00:00.000' AS DateTime))
INSERT [dbo].[tblLogin] ([pkLoginID], [loginUsername], [loginPassword], [loginSalt], [loginRole], [isActive], [isVerified], [createdOn]) VALUES (2, N'amit@admin.com', N'pq6BqiNJ+Aftg+RxdpLJG8x4STLw/GzC9h0tXSHJl+Y=', N'aJ0xCEZfAPKIvplpmne6TwKgM/3ELerHV/OLajY/kkY=', 2, 1, 1, CAST(N'2023-06-01T00:45:24.877' AS DateTime))
INSERT [dbo].[tblLogin] ([pkLoginID], [loginUsername], [loginPassword], [loginSalt], [loginRole], [isActive], [isVerified], [createdOn]) VALUES (3, N'anish@admin.com', N'LTTrlw8x3TdUbeD8bhIHM6bvCK0PXWP3Vks6aW4Vnko=', N'01GeyrXP8yKtKtpdI6z/PYKhNYUAgLyjmOFn3t4bA0s=', 2, 1, 1, CAST(N'2023-06-01T01:17:50.367' AS DateTime))
SET IDENTITY_INSERT [dbo].[tblLogin] OFF
GO
SET IDENTITY_INSERT [dbo].[tblProperty] ON 

SET IDENTITY_INSERT [dbo].[tblProperty] OFF
GO
SET IDENTITY_INSERT [dbo].[tblPropertyCategory] ON 

INSERT [dbo].[tblPropertyCategory] ([pkPropertyCategoryID], [propertyCategoryName], [isActive], [createdBy], [createdOn]) VALUES (1, N'Rent', 1, 1, CAST(N'2023-05-17T00:07:23.537' AS DateTime))
INSERT [dbo].[tblPropertyCategory] ([pkPropertyCategoryID], [propertyCategoryName], [isActive], [createdBy], [createdOn]) VALUES (2, N'Sale', 1, 1, CAST(N'2023-05-17T00:07:27.920' AS DateTime))
INSERT [dbo].[tblPropertyCategory] ([pkPropertyCategoryID], [propertyCategoryName], [isActive], [createdBy], [createdOn]) VALUES (3, N'Lease', 1, 1, CAST(N'2023-08-31T23:30:11.133' AS DateTime))
SET IDENTITY_INSERT [dbo].[tblPropertyCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[tblPropertyFacility] ON 

INSERT [dbo].[tblPropertyFacility] ([pkPropertyFacilityID], [fkPropertyID], [fkFacilityID], [propertyFacilityDistance]) VALUES (1, 1, 1, CAST(5.00 AS Decimal(18, 2)))
INSERT [dbo].[tblPropertyFacility] ([pkPropertyFacilityID], [fkPropertyID], [fkFacilityID], [propertyFacilityDistance]) VALUES (2, 1, 2, CAST(19.00 AS Decimal(18, 2)))
INSERT [dbo].[tblPropertyFacility] ([pkPropertyFacilityID], [fkPropertyID], [fkFacilityID], [propertyFacilityDistance]) VALUES (3, 1, 3, CAST(8.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[tblPropertyFacility] OFF
GO
SET IDENTITY_INSERT [dbo].[tblPropertyFeature] ON 

INSERT [dbo].[tblPropertyFeature] ([pkPropertyFeatureID], [fkPropertyID], [fkFeatureID]) VALUES (1, 11, 4)
INSERT [dbo].[tblPropertyFeature] ([pkPropertyFeatureID], [fkPropertyID], [fkFeatureID]) VALUES (2, 12, 4)
INSERT [dbo].[tblPropertyFeature] ([pkPropertyFeatureID], [fkPropertyID], [fkFeatureID]) VALUES (3, 13, 4)
SET IDENTITY_INSERT [dbo].[tblPropertyFeature] OFF
GO
SET IDENTITY_INSERT [dbo].[tblPropertyImage] ON 

SET IDENTITY_INSERT [dbo].[tblPropertyImage] OFF
GO
SET IDENTITY_INSERT [dbo].[tblPropertyType] ON 

INSERT [dbo].[tblPropertyType] ([pkPropertyTypeID], [propertyTypeName], [isActive], [createdBy], [createdOn]) VALUES (1, N'Flat', 1, 1, CAST(N'2023-05-17T00:07:42.897' AS DateTime))
INSERT [dbo].[tblPropertyType] ([pkPropertyTypeID], [propertyTypeName], [isActive], [createdBy], [createdOn]) VALUES (2, N'House', 1, 1, CAST(N'2023-05-17T00:07:52.247' AS DateTime))
INSERT [dbo].[tblPropertyType] ([pkPropertyTypeID], [propertyTypeName], [isActive], [createdBy], [createdOn]) VALUES (3, N'Villa', 1, 1, CAST(N'2023-05-17T00:08:03.410' AS DateTime))
SET IDENTITY_INSERT [dbo].[tblPropertyType] OFF
GO
SET IDENTITY_INSERT [dbo].[tblRentType] ON 

INSERT [dbo].[tblRentType] ([pkRentTypeID], [rentTypeName], [isActive], [createdBy], [createdOn]) VALUES (1, N'Per Day', 1, 1, CAST(N'2023-05-17T00:16:07.707' AS DateTime))
INSERT [dbo].[tblRentType] ([pkRentTypeID], [rentTypeName], [isActive], [createdBy], [createdOn]) VALUES (2, N'Per Month', 1, 1, CAST(N'2023-05-17T00:16:13.527' AS DateTime))
INSERT [dbo].[tblRentType] ([pkRentTypeID], [rentTypeName], [isActive], [createdBy], [createdOn]) VALUES (3, N'Per Year', 1, 1, CAST(N'2023-05-17T00:16:18.697' AS DateTime))
SET IDENTITY_INSERT [dbo].[tblRentType] OFF
GO
SET IDENTITY_INSERT [dbo].[tblState] ON 

INSERT [dbo].[tblState] ([pkStateID], [stateName], [isActive], [createdBy], [createdOn]) VALUES (1, N'Maharashtra', 1, 1, CAST(N'2023-05-17T00:00:00.000' AS DateTime))
INSERT [dbo].[tblState] ([pkStateID], [stateName], [isActive], [createdBy], [createdOn]) VALUES (3, N'Jammu and Kashmir', 1, 1, CAST(N'2023-05-21T19:09:06.237' AS DateTime))
INSERT [dbo].[tblState] ([pkStateID], [stateName], [isActive], [createdBy], [createdOn]) VALUES (4, N'Haryana', 1, 0, CAST(N'2023-05-24T08:53:53.063' AS DateTime))
SET IDENTITY_INSERT [dbo].[tblState] OFF
GO
SET IDENTITY_INSERT [dbo].[tblUser] ON 

INSERT [dbo].[tblUser] ([pkUserID], [fkLoginID], [userFirstName], [userMiddleName], [userLastName], [userEmailAddress], [userMobileNo], [userCompanyName], [userCompanyAddress]) VALUES (1, 1, N'Admin', N'Admin', N'Admin', N'admin@admin.com', N'9876543210', N'Property Portal', N'Mumbai')
INSERT [dbo].[tblUser] ([pkUserID], [fkLoginID], [userFirstName], [userMiddleName], [userLastName], [userEmailAddress], [userMobileNo], [userCompanyName], [userCompanyAddress]) VALUES (2, 2, N'Amit', N'K', N'Pareek', N'amit@admin.com', N'9879879870', N'PCD Pharma Express', N'Panchkula, Haryana')
INSERT [dbo].[tblUser] ([pkUserID], [fkLoginID], [userFirstName], [userMiddleName], [userLastName], [userEmailAddress], [userMobileNo], [userCompanyName], [userCompanyAddress]) VALUES (3, 3, N'Anish', N'K', N'Sharma', N'anish@admin.com', N'9879879870', N'PCD Pharma Express', N'Panchkula, Haryana')
SET IDENTITY_INSERT [dbo].[tblUser] OFF
GO
ALTER TABLE [dbo].[tblCity] ADD  CONSTRAINT [DF_tblCity_createdOn]  DEFAULT (getdate()) FOR [createdOn]
GO
ALTER TABLE [dbo].[tblDistrict] ADD  CONSTRAINT [DF_tblDistrict_createdOn]  DEFAULT (getdate()) FOR [createdOn]
GO
ALTER TABLE [dbo].[tblFacility] ADD  CONSTRAINT [DF_tblFacilities_createdOn]  DEFAULT (getdate()) FOR [createdOn]
GO
ALTER TABLE [dbo].[tblFeature] ADD  CONSTRAINT [DF_tblFeatures_createdOn]  DEFAULT (getdate()) FOR [createdOn]
GO
ALTER TABLE [dbo].[tblLogin] ADD  CONSTRAINT [DF_tblLogin_createdOn]  DEFAULT (getdate()) FOR [createdOn]
GO
ALTER TABLE [dbo].[tblProperty] ADD  CONSTRAINT [DF_tblProperty_createdOn]  DEFAULT (getdate()) FOR [createdOn]
GO
ALTER TABLE [dbo].[tblPropertyCategory] ADD  CONSTRAINT [DF_tblPropertyCategory_createdOn]  DEFAULT (getdate()) FOR [createdOn]
GO
ALTER TABLE [dbo].[tblPropertyType] ADD  CONSTRAINT [DF_tblPropertyType_createdOn]  DEFAULT (getdate()) FOR [createdOn]
GO
ALTER TABLE [dbo].[tblRentType] ADD  CONSTRAINT [DF_tblRentType_createdOn]  DEFAULT (getdate()) FOR [createdOn]
GO
ALTER TABLE [dbo].[tblState] ADD  CONSTRAINT [DF_tblState_createdOn]  DEFAULT (getdate()) FOR [createdOn]
GO
/****** Object:  StoredProcedure [dbo].[sp_City_Master_Add]    Script Date: 9/9/2023 7:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_City_Master_Add]
(
	@fkDistrictID int,
	@cityName varchar(30),
	@isActive bit,
	@createdBy int
)
AS

BEGIN

	DECLARE @pkCityID int;

	SELECT @pkCityID = pkCityID 
	FROM tblCity
	WHERE cityName = @cityName
	AND fkDistrictID = @fkDistrictID
	
	IF(@pkCityID = -1)

	BEGIN
	
	INSERT INTO tblCity( fkDistrictID, cityName, isActive, createdBy )
				VALUES( @fkDistrictID, @cityName, @isActive, @createdBy );
  
	SELECT SCOPE_IDENTITY();
	
	END

	ELSE

	BEGIN

	SELECT 0;

	END

END  
GO
/****** Object:  StoredProcedure [dbo].[sp_City_Master_EnableDisable]    Script Date: 9/9/2023 7:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_City_Master_EnableDisable]
(
	@pkCityID int,
	@isActive bit
)
AS

BEGIN

  UPDATE tblCity 
  SET isActive = @isActive 
  WHERE pkCityID = @pkCityID;

END  
GO
/****** Object:  StoredProcedure [dbo].[sp_City_Master_Get]    Script Date: 9/9/2023 7:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_City_Master_Get]
(
	@fkDistrictID int = -1,
	@pkCityID int = -1,
	@isActive int = -1
)
AS

BEGIN

  SELECT fkDistrictID, districtName, pkCityID, cityName, TC.isActive 
  FROM tblCity TC
  INNER JOIN tblDistrict TD
  ON TD.pkDistrictID = TC.fkDistrictID
  WHERE (fkDistrictID = @fkDistrictID OR @fkDistrictID = -1)
  AND (pkCityID = @pkCityID OR @pkCityID = -1)
  AND (TC.isActive = @isActive OR @isActive = -1)

END
GO
/****** Object:  StoredProcedure [dbo].[sp_City_Master_Update]    Script Date: 9/9/2023 7:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_City_Master_Update]
(
	@fkDistrictID int,
	@pkCityID int,
	@cityName varchar(30),
	@isActive bit
)
AS

BEGIN
	
	DECLARE @pkCityID2 int = -1;

	SELECT @pkCityID2 = pkCityID 
	FROM tblCity
	WHERE lower(cityName) = lower(@cityName)
	AND fkDistrictID = @fkDistrictID;

	IF(@pkCityID2 = -1)

	BEGIN
	
	UPDATE tblCity 
	SET cityName = @cityName, 
	isActive = @isActive 
	WHERE pkCityID = @pkCityID;

	SELECT 1;

	END

	ELSE

	BEGIN

	SELECT 0;

	END

END  
GO
/****** Object:  StoredProcedure [dbo].[sp_District_Master_Add]    Script Date: 9/9/2023 7:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_District_Master_Add]
(
	@fkStateID int,
	@districtName varchar(30),
	@isActive bit,
	@createdBy int
)
AS

BEGIN

	DECLARE @pkDistrictID int = -1;

	SELECT @pkDistrictID = pkDistrictID 
	FROM tblDistrict
	WHERE LOWER(districtName) = LOWER(@districtName)
	AND fkStateID = @fkStateID
	
	IF(@pkDistrictID = -1)
	
	BEGIN

	INSERT INTO tblDistrict( fkStateID, districtName, isActive, createdBy )
				VALUES( @fkStateID, @districtName, @isActive, @createdBy );
  
	SELECT SCOPE_IDENTITY();

	END

	ELSE

	BEGIN

	SET @pkDistrictID = 0 ;
	SELECT @pkDistrictID;

	END


END  
GO
/****** Object:  StoredProcedure [dbo].[sp_District_Master_EnableDisable]    Script Date: 9/9/2023 7:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_District_Master_EnableDisable]
(
	@pkDistrictID int,
	@isActive bit
)
AS

BEGIN

  UPDATE tblDistrict 
  SET isActive = @isActive 
  WHERE pkDistrictID = @pkDistrictID;

END  
GO
/****** Object:  StoredProcedure [dbo].[sp_District_Master_Get]    Script Date: 9/9/2023 7:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_District_Master_Get]
(
	@fkStateID int = -1,
	@pkDistrictID int = -1,	
	@isActive int = -1
)
AS

BEGIN

  SELECT fkStateID, stateName, pkDistrictID, districtName, TD.isActive 
  FROM tblDistrict TD
  INNER JOIN tblState TS
  ON pkStateID = fkStateID
  WHERE (fkStateID = @fkStateID OR @fkStateID = -1)
  AND (pkDistrictID = @pkDistrictID OR @pkDistrictID = -1)
  AND (TD.isActive = @isActive OR @isActive = -1)

END
GO
/****** Object:  StoredProcedure [dbo].[sp_District_Master_Update]    Script Date: 9/9/2023 7:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_District_Master_Update]
(
	@fkStateID int,
	@pkDistrictID int,
	@districtName varchar(30),
	@isActive bit
)
AS

BEGIN
	
	DECLARE @pkDistrictID2 int = -1;

	SELECT @pkDistrictID2 = pkDistrictID 
	FROM tblDistrict
	WHERE LOWER(districtName) = LOWER(@districtName)
	AND fkStateID = @fkStateID;

	IF(@pkDistrictID2 = -1)

	BEGIN

	UPDATE tblDistrict 
	SET districtName = @districtName, 
	isActive = @isActive 
	WHERE pkDistrictID = @pkDistrictID;

	SELECT 1;

	END

	ELSE

	BEGIN

	SELECT 0;

	END
END  
GO
/****** Object:  StoredProcedure [dbo].[sp_Facility_Master_Add]    Script Date: 9/9/2023 7:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Facility_Master_Add]
(
	@facilityName varchar(30),
	@isActive bit,
	@createdBy int
)
AS

BEGIN

	DECLARE @pkFacilityID int = -1;

	SELECT @pkFacilityID = pkFacilityID 
	FROM tblFacility
	WHERE facilityName = @facilityName
	
	IF(@pkFacilityID = -1)

	BEGIN

	INSERT INTO tblFacility( facilityName, isActive, createdBy )
				VALUES( @facilityName, @isActive, @createdBy);
  
	SELECT SCOPE_IDENTITY();

	END

	ELSE

	BEGIN

	SELECT 0;

	END

END  

GO
/****** Object:  StoredProcedure [dbo].[sp_Facility_Master_EnableDisable]    Script Date: 9/9/2023 7:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Facility_Master_EnableDisable]
(
	@pkFacilityID int,
	@isActive bit
)
AS

BEGIN

  UPDATE tblFacility 
  SET isActive = @isActive 
  WHERE pkFacilityID = @pkFacilityID;

END  
GO
/****** Object:  StoredProcedure [dbo].[sp_Facility_Master_Get]    Script Date: 9/9/2023 7:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Facility_Master_Get]
(
	@pkFacilityID int = -1,
	@isActive int = -1
)
AS

BEGIN

  SELECT pkFacilityID, facilityName, isActive 
  FROM tblFacility 
  WHERE (pkFacilityID = @pkFacilityID OR @pkFacilityID = -1)
  AND (isActive = @isActive OR @isActive = -1)

END
GO
/****** Object:  StoredProcedure [dbo].[sp_Facility_Master_Update]    Script Date: 9/9/2023 7:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Facility_Master_Update]
(
	@pkFacilityID int,
	@facilityName varchar(30),
	@isActive bit
)
AS

BEGIN
	
	DECLARE @pkFacilityID2 int = -1;

	SELECT @pkFacilityID2 = pkFacilityID 
	FROM tblFacility
	WHERE facilityName = @facilityName
	AND pkFacilityID = pkFacilityID;

	IF(@pkFacilityID2 = -1)

	BEGIN

	UPDATE tblFacility 
	SET facilityName = @facilityName, 
	isActive = @isActive 
	WHERE pkFacilityID = @pkFacilityID;

	END

	ELSE

	BEGIN

	SELECT 0;

	END
END  
GO
/****** Object:  StoredProcedure [dbo].[sp_Feature_Master_Add]    Script Date: 9/9/2023 7:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Feature_Master_Add]
(
	@featureName varchar(30),
	@isActive bit,
	@createdBy int
)
AS

BEGIN

	DECLARE @pkFeatureID int;

	SELECT @pkFeatureID = pkFeatureID 
	FROM tblFeature
	WHERE featureName = @featureName

	IF(@pkFeatureID = -1)

	BEGIN
	
	INSERT INTO tblFeature( featureName, isActive, createdBy )
				VALUES( @featureName, @isActive, @createdBy);
  
	SELECT SCOPE_IDENTITY();

	END

	ELSE

	BEGIN

	SELECT 0;

	END
END 
 
GO
/****** Object:  StoredProcedure [dbo].[sp_Feature_Master_EnableDisable]    Script Date: 9/9/2023 7:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Feature_Master_EnableDisable]
(
	@pkFeatureID int,
	@isActive bit
)
AS

BEGIN

  UPDATE tblFeature 
  SET isActive = @isActive 
  WHERE pkFeatureID = @pkFeatureID;

END  
GO
/****** Object:  StoredProcedure [dbo].[sp_Feature_Master_Get]    Script Date: 9/9/2023 7:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Feature_Master_Get]
(
	@pkFeatureID int = -1,
	@isActive int = -1
)
AS

BEGIN

  SELECT pkFeatureID, featureName, isActive 
  FROM tblFeature 
  WHERE (pkFeatureID = @pkFeatureID OR @pkFeatureID = -1)
  AND (isActive = @isActive OR @isActive = -1)

END
GO
/****** Object:  StoredProcedure [dbo].[sp_Feature_Master_Update]    Script Date: 9/9/2023 7:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Feature_Master_Update]
(
	@pkFeatureID int,
	@featureName varchar(30),
	@isActive bit
)
AS

BEGIN
	
	DECLARE @pkFeatureID2 int = -1;

	SELECT @pkFeatureID2 = pkFeatureID 
	FROM tblFeature
	WHERE featureName = @featureName
	AND pkFeatureID = @pkFeatureID;

	IF(@pkFeatureID2 = -1)

	BEGIN

	UPDATE tblFeature 
	SET featureName = @featureName, 
	isActive = @isActive 
	WHERE pkFeatureID = @pkFeatureID;
	
	END

	ELSE

	BEGIN

	SELECT 0;

	END
END 

GO
/****** Object:  StoredProcedure [dbo].[sp_Login_Add]    Script Date: 9/9/2023 7:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Login_Add]
(
	@loginUsername varchar(100),
	@loginPassword varchar(500),
	@loginSalt varchar(500),
	@loginRole int,   -- 1 - Admin, 2- Agent/User
	@isActive bit,
	@isVerified bit,
	@createdOn datetime
)
AS

BEGIN

	DECLARE @pkLoginID int;

	SELECT @pkLoginID = pkLoginID 
	FROM tblLogin
	WHERE loginUsername = @loginUsername
	AND loginRole = @loginRole
	
	IF(@pkLoginID> 0)

	BEGIN

		SELECT -1;
	
	END

	ELSE

	BEGIN

		INSERT INTO tblLogin( loginUsername, loginPassword, loginSalt, loginRole, isActive, isVerified, createdOn )
					  VALUES( @loginUsername, @loginPassword, @loginSalt, @loginRole, @isActive, @isVerified, @createdOn);
  
		SELECT SCOPE_IDENTITY();

	END

END  
GO
/****** Object:  StoredProcedure [dbo].[sp_Login_EnableDisable]    Script Date: 9/9/2023 7:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Login_EnableDisable]
(
	@pkLoginID int,
	@isActive bit
)
AS

BEGIN

	UPDATE tblLogin
	SET isActive = @isActive 
	WHERE pkLoginID = @pkLoginID;

END  
GO
/****** Object:  StoredProcedure [dbo].[sp_Login_Get]    Script Date: 9/9/2023 7:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Login_Get]
(
	@loginUsername varchar(100),
	@loginRole int
)
AS

BEGIN

	SELECT pkLoginID, loginUsername, (userFirstName + ' ' + userLastName ) fullName, loginPassword, loginRole, loginSalt, isActive, isVerified 
	FROM tblLogin
	INNER JOIN tblUser
	ON pkLoginID = fkLoginID
	WHERE loginUsername = @loginUsername
	AND loginRole = @loginRole
  	
END  
GO
/****** Object:  StoredProcedure [dbo].[sp_Login_Update]    Script Date: 9/9/2023 7:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Login_Update]
(
	@pkLoginID int,
	@loginPassword varchar(500)
)
AS

BEGIN

	UPDATE tblLogin
	SET loginPassword = COALESCE(@loginPassword, loginPassword)
	WHERE pkLoginID = @pkLoginID
  	
END  
GO
/****** Object:  StoredProcedure [dbo].[sp_Property_Add]    Script Date: 9/9/2023 7:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Property_Add]
(
	@fkStateID int,
	@fkDistrictID int,
	@fkCityID int,
	@fkPropertyCategoryID int,
	@fkPropertyTypeID int,
	@fkRentTypeID int,
	@fkOwnerUserID int,
	@propertyTitle varchar(300),
	@propertyShortTitle varchar(200),
	@propertyLink varchar(100),
	@propertyShortDescription varchar(500),
	@propertyLongDescription varchar(MAX),
	@propertyLatitude varchar(10),
	@propertyLongitude varchar(10),
	@propertyAddress varchar(200),
	@propertyTotalFloor int,
	@propertyTotalBedroom int,
	@propertyTotalBathroom int,
	@propertyArea varchar(10), 
	@propertyPrice decimal(18,2), 
	@propertyYoutubeLink varchar(300),
	@propertySEOTitle varchar(300),
	@propertySEODescription varchar(1000), 
	@isFeatured bit, 
	@isActive bit, 
	@isVerified bit, 
	@createdBy int,
	@createdOn datetime, 
	@modifiedBy int,
	@modifiedOn datetime,
	@verifiedBy int,
	@verifiedOn datetime
)
AS

BEGIN

	INSERT INTO tblProperty
			   (
			   fkStateID,
			   fkDistrictID,
			   fkCityID,
			   fkPropertyCategoryID,
			   fkPropertyTypeID,
			   fkRentTypeID,
			   fkOwnerUserID,
			   propertyTitle,
			   propertyShortTitle,
			   propertyLink,
			   propertyShortDescription,
			   propertyLongDescription,
			   propertyLatitude,
			   propertyLongitude,
			   propertyAddress,
			   propertyTotalFloor,
			   propertyTotalBedroom,
			   propertyTotalBathroom,
			   propertyArea,
			   propertyPrice,
			   propertyYoutubeLink,
			   propertySEOTitle,
			   propertySEODescription,
			   isFeatured,
			   isActive,
			   isVerified,
			   createdBy,
			   createdOn,
			   modifiedBy,
			   modifiedOn,
			   verifiedBy,
			   verifiedOn
			   )
	VALUES
		(
			@fkStateID,
			@fkDistrictID,
			@fkCityID,
			@fkPropertyCategoryID,
			@fkPropertyTypeID,
			@fkRentTypeID,
			@fkOwnerUserID,
			@propertyTitle,
			@propertyShortTitle,
			@propertyLink,
			@propertyShortDescription,
			@propertyLongDescription,
			@propertyLatitude,
			@propertyLongitude,
			@propertyAddress,
			@propertyTotalFloor,
			@propertyTotalBedroom,
			@propertyTotalBathroom,
			@propertyArea, 
			@propertyPrice, 
			@propertyYoutubeLink,
			@propertySEOTitle,
			@propertySEODescription, 
			@isFeatured, 
			@isActive, 
			@isVerified,
			@createdBy,
			@createdOn, 
			@modifiedBy,
			@modifiedOn,
			@verifiedBy,
			@verifiedOn
		)

	SELECT SCOPE_IDENTITY();

END
GO
/****** Object:  StoredProcedure [dbo].[sp_Property_EnableDisable]    Script Date: 9/9/2023 7:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Property_EnableDisable]
(
	@pkPropertyID int,
	@isActive bit
)
AS

BEGIN

	UPDATE tblProperty
	SET isActive = @isActive 
	WHERE pkPropertyID = @pkPropertyID;

END  
GO
/****** Object:  StoredProcedure [dbo].[sp_Property_Get]    Script Date: 9/9/2023 7:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Property_Get]
(
	@pkPropertyID int,
	@isActive bit
)
AS

BEGIN

	SELECT pkPropertyID,
		  fkStateID,
		  fkDistrictID,
		  fkCityID,
		  fkPropertyCategoryID,
		  fkPropertyTypeID,
		  fkRentTypeID,
		  fkOwnerUserID,
		  propertyTitle,
		  propertyShortTitle,
		  propertyLink,
		  propertyShortDescription,
		  propertyLongDescription,
		  propertyLatitude,
		  propertyLongitude,
		  propertyAddress,
		  propertyTotalFloor,
		  propertyTotalBedroom,
		  propertyTotalBathroom,
		  propertyArea,
		  propertyPrice,
		  propertyYoutubeLink,
		  propertySEOTitle,
		  propertySEODescription,
		  isFeatured,
		  isActive,
		  isVerified
	FROM tblProperty
	WHERE pkPropertyID = @pkPropertyID
	AND isActive = @isActive

END  
GO
/****** Object:  StoredProcedure [dbo].[sp_Property_Update]    Script Date: 9/9/2023 7:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_Property_Update]
(
	@pkPropertyID int,
	@fkStateID int,
	@fkDistrictID int,
	@fkCityID int,
	@fkPropertyCategoryID int,
	@fkPropertyTypeID int,
	@fkRentTypeID int,
	@propertyTitle varchar(300),
	@propertyShortTitle varchar(200),
	@propertyLink varchar(100),
	@propertyShortDescription varchar(500),
	@propertyLongDescription varchar(MAX),
	@propertyLatitude varchar(10),
	@propertyLongitude varchar(10),
	@propertyAddress varchar(200),
	@propertyTotalFloor int,
	@propertyTotalBedroom int,
	@propertyTotalBathroom int,
	@propertyArea varchar(10), 
	@propertyPrice decimal(18,2), 
	@propertyYoutubeLink varchar(300),
	@propertySEOTitle varchar(300),
	@propertySEODescription varchar(1000), 
	@isFeatured bit, 
	@isActive bit, 
	@createdBy int,
	@createdOn datetime, 
	@modifiedBy int,
	@modifiedOn datetime
)
AS

BEGIN

	UPDATE tblProperty
	SET fkStateID = COALESCE(@fkStateID, fkStateID),
		fkDistrictID = COALESCE(@fkDistrictID, fkDistrictID),
		fkCityID = COALESCE(@fkCityID, fkCityID),
		fkPropertyCategoryID = COALESCE(@fkPropertyCategoryID, fkPropertyCategoryID),
		fkPropertyTypeID = COALESCE(@fkPropertyTypeID, fkPropertyTypeID),
		fkRentTypeID = COALESCE(@fkRentTypeID, fkRentTypeID),
		propertyTitle = COALESCE(@propertyTitle, propertyTitle),
		propertyShortTitle = COALESCE(@propertyShortTitle, propertyShortTitle),
		propertyLink = COALESCE(@propertyLink, propertyLink),
		propertyShortDescription = COALESCE(@propertyShortDescription, propertyShortDescription),
		propertyLongDescription = COALESCE(@propertyLongDescription, propertyLongDescription),
		propertyLatitude = COALESCE(@propertyLatitude, propertyLatitude),
		propertyLongitude = COALESCE(@propertyLongitude, propertyLongitude),
		propertyAddress = COALESCE(@propertyAddress, propertyAddress),
		propertyTotalFloor = COALESCE(@propertyTotalFloor, propertyTotalFloor),
		propertyTotalBedroom = COALESCE(@propertyTotalBedroom, propertyTotalBedroom),
		propertyTotalBathroom = COALESCE(@propertyTotalBathroom, propertyTotalBathroom),
		propertyArea = COALESCE(@propertyArea, propertyArea),
		propertyPrice = COALESCE(@propertyPrice, propertyPrice),
		propertyYoutubeLink = COALESCE(@propertyYoutubeLink, propertyYoutubeLink),
		propertySEOTitle = COALESCE(@propertySEOTitle, propertySEOTitle),
		propertySEODescription = COALESCE(@propertySEODescription, propertySEODescription),
		isFeatured = COALESCE(@isFeatured, isFeatured),
		isActive = COALESCE(@isActive, isActive),
		createdBy = COALESCE(@createdBy, createdBy),
		createdOn = COALESCE(@createdOn, createdOn),
		modifiedBy = COALESCE(@modifiedBy, modifiedBy),
		modifiedOn = COALESCE(@modifiedOn, modifiedOn)
	WHERE pkPropertyID = @pkPropertyID

END
GO
/****** Object:  StoredProcedure [dbo].[sp_PropertyCategory_Master_Add]    Script Date: 9/9/2023 7:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_PropertyCategory_Master_Add]
(
	@propertyCategoryName varchar(30),
	@isActive bit,
	@createdBy int
)
AS

BEGIN

	DECLARE @pkPropertyCategoryID int = -1;

	SELECT @pkPropertyCategoryID = pkPropertyCategoryID 
	FROM tblPropertyCategory
	WHERE propertyCategoryName = @propertyCategoryName
	
	IF(@pkPropertyCategoryID = -1)

	BEGIN

	INSERT INTO tblPropertyCategory( propertyCategoryName, isActive, createdBy )
				VALUES( @propertyCategoryName, @isActive, @createdBy);
  
	SELECT SCOPE_IDENTITY();

	END

	ELSE

	BEGIN

	SELECT 0;

	END
END 

GO
/****** Object:  StoredProcedure [dbo].[sp_PropertyCategory_Master_EnableDisable]    Script Date: 9/9/2023 7:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_PropertyCategory_Master_EnableDisable]
(
	@pkPropertyCategoryID int,
	@isActive bit
)
AS

BEGIN

  UPDATE tblPropertyCategory 
  SET isActive = @isActive 
  WHERE pkPropertyCategoryID = @pkPropertyCategoryID;

END  
GO
/****** Object:  StoredProcedure [dbo].[sp_PropertyCategory_Master_Get]    Script Date: 9/9/2023 7:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_PropertyCategory_Master_Get]
(
	@pkPropertyCategoryID int = -1,
	@isActive int = -1
)
AS

BEGIN

  SELECT pkPropertyCategoryID, propertyCategoryName, isActive 
  FROM tblPropertyCategory 
  WHERE (pkPropertyCategoryID = @pkPropertyCategoryID OR @pkPropertyCategoryID = -1)
  AND (isActive = @isActive OR @isActive = -1)

END
GO
/****** Object:  StoredProcedure [dbo].[sp_PropertyCategory_Master_Update]    Script Date: 9/9/2023 7:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_PropertyCategory_Master_Update]
(
	@pkPropertyCategoryID int,
	@propertyCategoryName varchar(30),
	@isActive bit
)
AS

BEGIN
	
	DECLARE @pkPropertyCategoryID2 int = -1;

	SELECT @pkPropertyCategoryID2 = pkPropertyCategoryID 
	FROM tblPropertyCategory
	WHERE propertyCategoryName = @propertyCategoryName
	AND pkPropertyCategoryID = pkPropertyCategoryID;

	IF(@pkPropertyCategoryID2 = -1)

	BEGIN

	UPDATE tblPropertyCategory 
	SET propertyCategoryName = @propertyCategoryName, 
	isActive = @isActive 
	WHERE pkPropertyCategoryID = @pkPropertyCategoryID;

	END

	ELSE

	BEGIN

	SELECT 0;

	END
END 

GO
/****** Object:  StoredProcedure [dbo].[sp_PropertyFacility_Add]    Script Date: 9/9/2023 7:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_PropertyFacility_Add](
	@fkPropertyID int,
	@fkFacilityID int,
	@propertyFacilityDistance int
)
AS
BEGIN

	INSERT INTO tblPropertyFacility
			   (
				fkPropertyID,
				fkFacilityID,
				propertyFacilityDistance
				)
		 VALUES
			   ( 
				 @fkPropertyID,
				 @fkFacilityID,
				 @propertyFacilityDistance
			   )

END

GO
/****** Object:  StoredProcedure [dbo].[sp_PropertyFacility_Get]    Script Date: 9/9/2023 7:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_PropertyFacility_Get](
	@fkPropertyID int
)
AS
BEGIN

	SELECT fkFacilityID, 
		   propertyFacilityDistance
	FROM tblPropertyFacility
	WHERE fkPropertyID = @fkPropertyID

END

GO
/****** Object:  StoredProcedure [dbo].[sp_PropertyFacility_Update]    Script Date: 9/9/2023 7:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE PROC [dbo].[sp_PropertyFacility_Update]
	(
		@fkPropertyID int,
		@fkFacilityID int,
		@propertyFacilityDistance decimal(18,2)
	)
	AS

	BEGIN

	DECLARE @fkPropertyID1 int = -1;
	
	SELECT @fkPropertyID1 = fkFacilityID 
	FROM tblPropertyFacility
	WHERE fkPropertyID = @fkPropertyID;

	IF(@fkPropertyID1 = -1)

	BEGIN

		UPDATE tblPropertyFacility
		SET fkFacilityID = COALESCE(@fkFacilityID, fkFacilityID),
			propertyFacilityDistance = COALESCE(@propertyFacilityDistance, propertyFacilityDistance)
		WHERE fkPropertyID = @fkPropertyID;
	
	END

	ELSE

	BEGIN

	SELECT 0;

	END

	END
GO
/****** Object:  StoredProcedure [dbo].[sp_PropertyFeature_Add]    Script Date: 9/9/2023 7:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_PropertyFeature_Add](
	@fkPropertyID int,
    @fkFeatureID int
)
AS

BEGIN

	INSERT INTO tblPropertyFeature
           (
			fkPropertyID,
			fkFeatureID
			)
     VALUES
           (
			@fkPropertyID,
            @fkFeatureID 
		   )

END

GO
/****** Object:  StoredProcedure [dbo].[sp_PropertyFeature_Get]    Script Date: 9/9/2023 7:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_PropertyFeature_Get](
	@fkPropertyID int
)
AS
BEGIN

	SELECT fkFeatureID
	FROM tblPropertyFeature
	WHERE fkPropertyID = @fkPropertyID

END

GO
/****** Object:  StoredProcedure [dbo].[sp_PropertyFeature_Update]    Script Date: 9/9/2023 7:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_PropertyFeature_Update]
(
	@fkPropertyID int,
	@fkFeatureID int
)
AS

BEGIN

	UPDATE tblPropertyFeature
	SET fkFeatureID = COALESCE(@fkFeatureID, fkFeatureID)
	WHERE fkPropertyID = @fkPropertyID
	
END
GO
/****** Object:  StoredProcedure [dbo].[sp_PropertyImage_Add]    Script Date: 9/9/2023 7:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_PropertyImage_Add](
	@fkPropertyID int,
    @propertyImage varbinary(max),
    @isFeaturedImage bit,
    @isBannerImage bit
)
AS

BEGIN

	INSERT INTO tblPropertyImage
           (
			fkPropertyID,
            propertyImage,
            isFeaturedImage,
            isBannerImage
		   )
     VALUES
           (
			@fkPropertyID,
            @propertyImage,
            @isFeaturedImage,
            @isBannerImage
			)

END


GO
/****** Object:  StoredProcedure [dbo].[sp_PropertyImage_Get]    Script Date: 9/9/2023 7:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_PropertyImage_Get](
	@fkPropertyID int
)
AS

BEGIN

	SELECT propertyImage,
           isFeaturedImage,
           isBannerImage
	FROM tblPropertyImage
	WHERE fkPropertyID = @fkPropertyID

END


GO
/****** Object:  StoredProcedure [dbo].[sp_PropertyImage_Update]    Script Date: 9/9/2023 7:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_PropertyImage_Update]
(
	@fkPropertyID int,
	@propertyImage varbinary(max),
	@isFeaturedImage bit,
	@isBannerImage bit
)
AS

BEGIN

	UPDATE tblPropertyImage
	SET propertyImage = COALESCE(@propertyImage, propertyImage),
		isFeaturedImage = @isFeaturedImage,
		isBannerImage = @isBannerImage
	WHERE fkPropertyID = @fkPropertyID
	
END
GO
/****** Object:  StoredProcedure [dbo].[sp_PropertyType_Master_Add]    Script Date: 9/9/2023 7:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_PropertyType_Master_Add]
(
	@propertyTypeName varchar(30),
	@isActive bit,
	@createdBy int
)
AS

BEGIN

	DECLARE @pkPropertyTypeID int = -1;

	SELECT @pkPropertyTypeID = pkPropertyTypeID 
	FROM tblPropertyType
	WHERE propertyTypeName = @propertyTypeName
	
	IF(@pkPropertyTypeID = -1)

	BEGIN

	INSERT INTO tblPropertyType( propertyTypeName, isActive, createdBy )
				VALUES( @propertyTypeName, @isActive, @createdBy);
  
	SELECT SCOPE_IDENTITY();

	END

	ELSE

	BEGIN

	SELECT 0;

	END
END 

GO
/****** Object:  StoredProcedure [dbo].[sp_PropertyType_Master_EnableDisable]    Script Date: 9/9/2023 7:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_PropertyType_Master_EnableDisable]
(
	@pkPropertyTypeID int,
	@isActive bit
)
AS

BEGIN

  UPDATE tblPropertyType 
  SET isActive = @isActive 
  WHERE pkPropertyTypeID = @pkPropertyTypeID;

END  
GO
/****** Object:  StoredProcedure [dbo].[sp_PropertyType_Master_Get]    Script Date: 9/9/2023 7:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_PropertyType_Master_Get]
(
	@pkPropertyTypeID int = -1,
	@isActive int = -1
)
AS

BEGIN

  SELECT pkPropertyTypeID, propertyTypeName, isActive 
  FROM tblPropertyType 
  WHERE (pkPropertyTypeID = @pkPropertyTypeID OR @pkPropertyTypeID = -1)
  AND (isActive = @isActive OR @isActive = -1)

END
GO
/****** Object:  StoredProcedure [dbo].[sp_PropertyType_Master_Update]    Script Date: 9/9/2023 7:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_PropertyType_Master_Update]
(
	@pkPropertyTypeID int,
	@propertyTypeName varchar(30),
	@isActive bit
)
AS

BEGIN
	
	DECLARE @pkPropertyTypeID2 int = -1;

	SELECT @pkPropertyTypeID2 = pkPropertyTypeID 
	FROM tblPropertyType
	WHERE LOWER(propertyTypeName) = LOWER(@propertyTypeName)
	AND pkPropertyTypeID = pkPropertyTypeID;

	IF(@pkPropertyTypeID2 = -1)

	BEGIN

	UPDATE tblPropertyType 
	SET propertyTypeName = @propertyTypeName, 
	isActive = @isActive 
	WHERE pkPropertyTypeID = @pkPropertyTypeID;

	SELECT 1;

	END

	ELSE

	BEGIN

	SELECT 0;

	END
END 

GO
/****** Object:  StoredProcedure [dbo].[sp_RentType_Master_Add]    Script Date: 9/9/2023 7:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_RentType_Master_Add]
(
	@rentTypeName varchar(30),
	@isActive bit,
	@createdBy int
)
AS

BEGIN

	DECLARE @pkRentTypeID int = -1;

	SELECT @pkRentTypeID = pkRentTypeID 
	FROM tblRentType
	WHERE LOWER(rentTypeName) = LOWER(@rentTypeName)

	IF(@pkRentTypeID = -1)

	BEGIN
	
	INSERT INTO tblRentType( rentTypeName, isActive, createdBy )
				VALUES( @rentTypeName, @isActive, @createdBy);
  
	SELECT SCOPE_IDENTITY();

	END

	ELSE

	BEGIN

	SELECT 0;

	END
END 

GO
/****** Object:  StoredProcedure [dbo].[sp_RentType_Master_EnableDisable]    Script Date: 9/9/2023 7:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_RentType_Master_EnableDisable]
(
	@pkRentTypeID int,
	@isActive bit
)
AS

BEGIN

  UPDATE tblRentType 
  SET isActive = @isActive 
  WHERE pkRentTypeID = @pkRentTypeID;

END  
GO
/****** Object:  StoredProcedure [dbo].[sp_RentType_Master_Get]    Script Date: 9/9/2023 7:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_RentType_Master_Get]
(
	@pkRentTypeID int = -1,
	@isActive int = -1
)
AS

BEGIN

  SELECT pkRentTypeID, rentTypeName, isActive 
  FROM tblRentType 
  WHERE (pkRentTypeID = @pkRentTypeID OR @pkRentTypeID = -1)
  AND (isActive = @isActive OR @isActive = -1)

END
GO
/****** Object:  StoredProcedure [dbo].[sp_RentType_Master_Update]    Script Date: 9/9/2023 7:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_RentType_Master_Update]
(
	@pkRentTypeID int,
	@rentTypeName varchar(30),
	@isActive bit
)
AS

BEGIN
	
	DECLARE @pkRentTypeID2 int = -1;

	SELECT @pkRentTypeID2 = pkRentTypeID 
	FROM tblRentType
	WHERE LOWER(rentTypeName) = LOWER(@rentTypeName)
	AND pkRentTypeID = pkRentTypeID;

	IF(@pkRentTypeID2 = -1)

	BEGIN

	UPDATE tblRentType 
	SET rentTypeName = @rentTypeName, 
	isActive = @isActive 
	WHERE pkRentTypeID = @pkRentTypeID;
	
	SELECT 1;

	END

	ELSE

	BEGIN

	SELECT 0;

	END
END 

GO
/****** Object:  StoredProcedure [dbo].[sp_State_Master_Add]    Script Date: 9/9/2023 7:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_State_Master_Add]
(
	@stateName varchar(30),
	@isActive bit,
	@createdBy int
)
AS

BEGIN

	DECLARE @pkStateID int = -1;

	SELECT @pkStateID = pkStateID 
	FROM tblState
	WHERE lower(stateName) = lower(@stateName)

	IF(@pkStateID = -1)
	BEGIN
	
	INSERT INTO tblState( stateName, isActive, createdBy )
				VALUES( @stateName, @isActive, @createdBy);
  
	SELECT SCOPE_IDENTITY();

	END
	ELSE
	BEGIN

	SET @pkStateID = 0 ;
	SELECT @pkStateID;
	
	END
	
END  
GO
/****** Object:  StoredProcedure [dbo].[sp_State_Master_EnableDisable]    Script Date: 9/9/2023 7:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_State_Master_EnableDisable]
(
	@pkStateID int,
	@isActive bit
)
AS

BEGIN

  UPDATE tblState 
  SET isActive = @isActive 
  WHERE pkStateID = @pkStateID;

END  
GO
/****** Object:  StoredProcedure [dbo].[sp_State_Master_Get]    Script Date: 9/9/2023 7:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_State_Master_Get]
(
	@pkStateID int = -1,
	@isActive int = -1
)
AS

BEGIN

  SELECT pkStateID, stateName, isActive 
  FROM tblState
  WHERE (pkStateID = @pkStateID OR @pkStateID = -1)
  AND (isActive = @isActive OR @isActive = -1)

END
GO
/****** Object:  StoredProcedure [dbo].[sp_State_Master_Update]    Script Date: 9/9/2023 7:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_State_Master_Update]
(
	@pkStateID int,
	@stateName varchar(30),
	@isActive bit
)
AS

BEGIN
	
	DECLARE @pkStateID2 int = -1;

	SELECT @pkStateID2 = pkStateID 
	FROM tblState
	WHERE lower(stateName) = lower(@stateName)

	IF(@pkStateID2 = -1)
	BEGIN

	UPDATE tblState 
	SET stateName = @stateName, 
	isActive = @isActive 
	WHERE pkStateID = @pkStateID;

	SELECT 1;

	END
	ELSE
	BEGIN

	SELECT 0

	END

END  
GO
/****** Object:  StoredProcedure [dbo].[sp_User_Add]    Script Date: 9/9/2023 7:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_User_Add]
(
	@fkLoginID int,
	@userFirstName varchar(50),
	@userMiddleName varchar(50),
	@userLastName varchar(50),
	@userEmailAddress varchar(500),
	@userMobileNo varchar(20),
	@userCompanyName varchar(100),
	@userCompanyAddress varchar(500)
)
AS

BEGIN

	INSERT INTO tblUser( fkLoginID, userFirstName, userMiddleName, userLastName, userEmailAddress, userMobileNo, userCompanyName, userCompanyAddress )
				 VALUES( @fkLoginID, @userFirstName, @userMiddleName, @userLastName, @userEmailAddress, @userMobileNo, @userCompanyName, @userCompanyAddress );
  	
END  
GO
/****** Object:  StoredProcedure [dbo].[sp_User_Get]    Script Date: 9/9/2023 7:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_User_Get]
(
	@fkLoginID int,
	@isActive int = -1,
	@isVerified int = -1
)
AS

BEGIN

	SELECT pkLoginID, userFirstName, userMiddleName, userLastName, loginUsername, userMobileNo, 
		   userCompanyName, userCompanyAddress, isActive, isVerified
	FROM tblUser
	INNER JOIN tblLogin
	ON pkLoginID = fkLoginID
	WHERE (fkLoginID = @fkLoginID OR @fkLoginID = -1)
  	AND (isActive = @isActive OR @isActive = -1)
	AND (isVerified = @isVerified OR @isVerified = -1)
	AND loginRole <> 1
END  
GO
/****** Object:  StoredProcedure [dbo].[sp_User_Master_Get]    Script Date: 9/9/2023 7:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_User_Master_Get]  
(  
 @fkLoginID int = -1,  
 @isActive int = -1,  
 @isVerified int = -1  
)  
AS  
  
BEGIN  
  
	  SELECT pkUserID, (userFirstName + ' ' + userLastName) + '(' + userCompanyName + ')' fullName
	  FROM tblUser TU
	  INNER JOIN tblLogin TL
	  ON TU.fkLoginID = TL.pkLoginID
	  WHERE (fkLoginID = @fkLoginID OR @fkLoginID = -1)  
	  AND (isActive = @isActive OR @isActive = -1)  
	  AND (isVerified = @isVerified OR @isVerified = -1)  
	  AND loginRole  = 3
END


GO
/****** Object:  StoredProcedure [dbo].[sp_User_Update]    Script Date: 9/9/2023 7:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_User_Update]
(
	@fkLoginID int,
	@userFirstName varchar(50),
	@userMiddleName varchar(50),
	@userLastName varchar(50),
	@userEmailAddress varchar(500),
	@userMobileNo varchar(20),
	@userCompanyName varchar(100),
	@userCompanyAddress varchar(500)
)
AS

BEGIN

	UPDATE tblUser
	SET userFirstName = COALESCE(@userFirstName, userFirstName),
		userMiddleName = COALESCE(@userMiddleName, userMiddleName),
		userLastName = COALESCE(@userLastName, userLastName),
		userEmailAddress = COALESCE(@userEmailAddress, userEmailAddress),
		userMobileNo = COALESCE(@userMobileNo, userMobileNo),
		userCompanyName = COALESCE(@userCompanyName, userCompanyName),
		userCompanyAddress = COALESCE(@userCompanyAddress, userCompanyAddress)
	WHERE fkLoginID = @fkLoginID
  	
END  
GO
USE [master]
GO
