<?xml version="1.0" encoding="utf-8" ?>
<settings>
	<admin>1</admin>
	<manager>2</manager>
	<user>3</user>
	<admindashboard>https://localhost:44385/admin/dashboard.aspx</admindashboard>
	<managerdashboard>https://localhost:44385/manager/dashboard.aspx</managerdashboard>
	<userdashboard>https://localhost:44385/dashboard/dashboard.aspx</userdashboard>
</settings>
